<a href="https://colab.research.google.com/github/solujan/diplo-datos/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt

In [0]:
data = {'year':[ 2010, 2011, 2012, 2010, 2011, 2012, 2010, 2011, 2012 ], 
        'team':[ 'FCBarcelona', 'FCBarcelona', 'FCBarcelona', 'RMadrid', 'RMadrid', 'RMadrid', 'ValenciaCF', 'ValenciaCF', 'ValenciaCF' ], 
        'wins': [30, 28, 32, 29, 32, 26, 21, 17, 19], 'draws': [6, 7, 4, 5, 4, 7, 8, 10, 8], 
        'losses': [2, 3, 2, 4, 2, 5, 9, 11, 11] }
football = pd.DataFrame(data , columns = [ 'year', 'team', 'wins', 'draws', 'losses' ] )

   year         team  wins  draws  losses
0  2010  FCBarcelona    30      6       2
1  2011  FCBarcelona    28      7       3
2  2012  FCBarcelona    32      4       2
3  2010      RMadrid    29      5       4
4  2011      RMadrid    32      4       2
5  2012      RMadrid    26      7       5
6  2010   ValenciaCF    21      8       9
7  2011   ValenciaCF    17     10      11
8  2012   ValenciaCF    19      8      11

In [0]:
# Get first rows 
football.head()

   year         team  wins  draws  losses
0  2010  FCBarcelona    30      6       2
1  2011  FCBarcelona    28      7       3
2  2012  FCBarcelona    32      4       2
3  2010      RMadrid    29      5       4
4  2011      RMadrid    32      4       2

In [0]:
# Get last rows 
football.tail()

   year        team  wins  draws  losses
4  2011     RMadrid    32      4       2
5  2012     RMadrid    26      7       5
6  2010  ValenciaCF    21      8       9
7  2011  ValenciaCF    17     10      11
8  2012  ValenciaCF    19      8      11

In [0]:
# get columns name
football.columns

Index(['year', 'team', 'wins', 'draws', 'losses'], dtype='object')

In [0]:
# Obtener valores en lista
football.values

array([[2010, 'FCBarcelona', 30, 6, 2],
       [2011, 'FCBarcelona', 28, 7, 3],
       [2012, 'FCBarcelona', 32, 4, 2],
       [2010, 'RMadrid', 29, 5, 4],
       [2011, 'RMadrid', 32, 4, 2],
       [2012, 'RMadrid', 26, 7, 5],
       [2010, 'ValenciaCF', 21, 8, 9],
       [2011, 'ValenciaCF', 17, 10, 11],
       [2012, 'ValenciaCF', 19, 8, 11]], dtype=object)

In [0]:
# Obtener estadistica descriptiva
football.describe()

              year       wins      draws     losses
count     9.000000   9.000000   9.000000   9.000000
mean   2011.000000  26.000000   6.555556   5.444444
std       0.866025   5.656854   2.006932   3.844188
min    2010.000000  17.000000   4.000000   2.000000
25%    2010.000000  21.000000   5.000000   2.000000
50%    2011.000000  28.000000   7.000000   4.000000
75%    2012.000000  30.000000   8.000000   9.000000
max    2012.000000  32.000000  10.000000  11.000000

### Filtering data

In [0]:
# Selecting a column by name
football['year']

0    2010
1    2011
2    2012
3    2010
4    2011
5    2012
6    2010
7    2011
8    2012
Name: year, dtype: int64

In [0]:
# Selecting a column by name
football['year']